* {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --main-description-color: #757575;
  --white-text: #fff;
  --black-text: #000000;
  --bottom-contact-color: rgba(255, 255, 255, 0.6);
  --portfolio-filter: #f5f4fa;
  --footer-background: #2f303a;
  --footer-socialmedia-icon: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
}

/* Global */

body {
  color: var(--main-text-color);
  font-family: "Roboto", "Tahoma", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section__headline {
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.container--banner {
  text-align: center;
}

/* Header */

.footer__link,
.header__navigation-link--homepage,
.header__navigation-link--portfolio {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.header__navigation-link--homepage::after,
.header__navigation-link--portfolio::after {
  content: "";
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  top: 46px;
  left: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.header__navigation-link--homepage::after {
  width: 53px;
}
.header__navigation-link--portfolio::after {
  width: 58px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container--header {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}

.footer__logo,
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}

.header__logo--black {
  color: var(--black-text);
  margin-right: 93px;
}

.footer__logo--white {
  color: var(--white-text);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}

.header__contact,
.header__navigation {
  display: flex;
}

.header__navigation:last-child {
  margin-right: 345px;
}

.header__navigation-item {
  margin-right: 46px;
  position: relative;
}

.header__navigation-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.footer__logo--blue,
.header__logo--blue,
.footer__address .link:hover,
.footer__address .link:focus,
.header__navigation-link--active:hover,
.header__navigation-link--active:focus,
.header__navigation-link:hover,
.header__navigation-link:focus {
  color: var(--accent-color);
}

.header__contact-link {
  display: flex;
  align-items: center;
}

.clients__item:not(:last-child),
.offer__item:not(:last-child),
.benefits__item:not(:last-child),
.header__contact-item:not(:last-child) {
  margin-right: 30px;
}

.header__contact .header__contact-link {
  color: var(--main-description-color);
  fill: var(--main-description-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__contact-icon {
  margin-right: 10px;
}

/* Main Header */

.banner__headline {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.banner__button,
.footer__form-button,
.modal__button {
  color: var(--white-text);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.banner__button--position {
  padding: 10px 41px 10px 41px;
  margin-bottom: 200px;
}

.banner {
  background-color: var(--footer-background);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 50%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url(../images/baner-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

/* Our assests */

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__subtitle {
  color: var(--main-description-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--portfolio-filter);
  margin-bottom: 30px;
}

/* What we do */

.team,
.footer__socialmedia,
.benefits,
.container--footer,
.offer,
.footer__form {
  display: flex;
  justify-content: center;
}

.section--offer {
  margin-bottom: 94px;
}

.offer__item--position {
  position: relative;
}

.offer__description {
  width: 370px;
  height: 70px;

  position: absolute;
  left: 50%;
  top: 87%;
  margin: 0;
  padding: 27px 90px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;

  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    rgba(47, 48, 58, 0.8) 50%,
    rgba(47, 48, 58, 0.8) 50%
  );
  color: var(--white-text);
}

/* Our team */

.section--team {
  background-color: var(--portfolio-filter);
}

.team__item {
  margin-right: 30px;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
}

.team__item:last-child {
  margin-right: 0px;
}

.team__name {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.team__position {
  color: var(--main-description-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.team__socialmedia-item:not(:last-child) {
  margin-right: 10px;
}

.team__socialmedia-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--icon-color);
  background-color: var(--white-text);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}

.team__socialmedia-link:hover,
.team__socialmedia-link:focus {
  fill: var(--white-text);
  background-color: var(--accent-color);
}

/* Our clients */
.clients,
.team__socialmedia {
  fill: var(--icon-color);
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.footer__socialmedia-icon,
.clients__icon,
.team__socialmedia-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
  transition-property: border, --color3, --color2;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__street {
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__address .footer__link {
  color: var(--bottom-contact-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.container--socialmedia {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 70px;
}

.footer__form--position {
  margin-left: 78px;
  padding-top: 12px;
}

.footer__form-button--margin {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-left: 12px;
  padding-left: 42px;
  width: 200px;
  height: 50px;
}

.footer__form-icon {
  margin-left: 24px;
}

input.footer__form-input {
  color: rgba(255, 255, 255, 0.6);
}

input.footer__form-input:focus {
  border: 1px solid var(--accent-color);
}

.footer__form-input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-top: 20px;
}

.footer__form-headline,
.footer__headline {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form-headline--column {
  display: flex;
  flex-direction: column;
}

.footer__socialmedia-item:not(:last-child) {
  margin-right: 20px;
}

.footer__socialmedia-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-socialmedia-icon);
  fill: var(--white-text);
  border-radius: 50px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}

.footer__socialmedia-link:hover,
.footer__socialmedia-link:focus {
  background-color: var(--accent-color);
}

/* Project filters */

.filter__button {
  color: var(--main-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-filter);
  box-shadow: none;
  border: 0px solid;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, box-shadow;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

/* Project results */

.projects__title {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}

.projects__group {
  color: var(--main-description-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 100%;
  transform: translateY(100%);
  transition: transform 500ms ease;
}

.projects__overlay > .projects__subtitle {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
}

.projects__overlay code {
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
}

.filter {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}

.section--projects {
  padding-top: 50px;
  padding-bottom: 94px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.projects__item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.projects__item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:hover .projects__overlay {
  transform: translateY(-100%);
}

.projects__border {
  border: 1px solid #eee;
  border-top: none;
  position: relative;
  background-color: var(--white-text);
}

/* modal.js */

.modal {
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  z-index: 2;
  transition-property: visibility, transform;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 2;
  visibility: visible;
  animation-name: modalFrame;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.container--background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  transition-property: visibility;
  visibility: visible;
  display: flex;
  animation-name: modalOpen;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.modal__button--close {
  width: 30px;
  height: 30px;
  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form-width {
  width: 100%;
  padding: 0 40px;
}

.modal__form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  outline: none;
}

.modal__form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-item:focus-within .modal__form-icon {
  fill: var(--accent-color);
}

textarea.modal__form-input:focus,
input.modal__form-input:focus {
  border: 1px solid var(--accent-color);
}

textarea.modal__form-input,
input.modal__form-input {
  color: var(--main-description-color);
}

.modal__form-item {
  position: relative;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-description-color);
}

.modal__form-icon {
  position: absolute;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-icon--email,
.modal__form-icon--name {
  left: 15px;
  bottom: 14px;
}

.modal__form-icon--phone {
  left: 14.27px;
  bottom: 13px;
}

.modal__form-input--padding {
  padding: 12px 12px 12px 42px;
}

.modal__form-headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 2px;
  margin-bottom: 12px;
  text-align: center;
}

input.modal__form-input--checkbox {
  appearance: none;
}

input.modal__form-input--checkbox:checked + label.modal__form-terms::before {
  background-color: var(--accent-color);
  border: none;
}

label.modal__form-terms::before {
  display: block;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 4px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--main-text-color);
  border-radius: 2px;
}

.modal__form-terms {
  position: relative;
  padding-left: 23px;
}

.modal__form-icon--checkbox {
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 3px;
  z-index: 1;
}

.modal__form-item--terms {
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--main-description-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.modal__button--submit {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 76px;
  margin-top: 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-input--resize {
  resize: none;
  padding: 12px 16px;
}

.modal__form-link {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Animations */

@keyframes modalOpen {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes modalFrame {
  0% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
  }
}
