@keyframes modalOpen {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes modalFrame {
  0% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
  }
}
