.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  &--blue {
    color: $accentColour;
  }
  &--header {
    color: $logoColour;
    margin-right: 93px;
  }
  &--footer {
    color: $bannerTitleColour;
  }
}
