.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  &--blue {
    color: $accentColour;
  }
  &--header {
    color: var(--black-text);
    margin-right: 93px;
  }
  &--footer {
    color: var(--white-text);
  }
}
